*{
    margin: 0px;
    border:border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.container{
    background-color: #E8514A;
    margin: 0;
}
.notes-container{
    background-color: #E8514A;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#newNote{
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 0.5em 0.65em;
    color: black;
    cursor: pointer;
}
#newNote:hover{
    opacity: 0.7;
}
.card{
    height: 200px;
    width: 30%;
    margin-top: 15px;
    padding: 20px 0px 15px;
    border-radius: 7px;
    background-color: lightblue;
}
.card h1{
    text-align: center;
    text-decoration: underline wavy;
    font-size: 20px;
    font-family: Bradley Hand, cursive;
    font-weight: 700;
    color: rgb(6, 6, 6);
}
.card h2{
    color: black;
    font-size: 16px;
    padding: 0.15em 2em;
    text-decoration: double underline;
    font-family: Bradley Hand, cursive;
}
.card input{
    border-radius: 5px;
    border: none;
    font-size: 13px;
    padding: 0.45em 0.55em;
    margin: 1.6em 0.6em;
    
}
.noteHead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#add{
    background-color: #23629F;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 0.5em 0.65em;
    color: white;
    cursor: pointer;
    box-shadow: 10px white;
}
#add:hover{
   opacity: 0.9;
}

#saveBtn{
    background-color: #b58a13;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    padding: 0.5em 0.5em;
    margin-left: 0.8em;
    color: white;
    cursor: pointer;
}
#saveBtn:hover{
    opacity: 0.8;
}
.unlist{
    list-style: none;
   
}
li{
    font-size: 15px;
    font-family: Bradley Hand, cursive;
    padding: 0.25em 0.1em;
    width: 100%;
    font-weight: 700;
}
li button{
    border: none;
    border-radius:5px ;
    padding: 0.5em 0.65em;
    color: white;
    cursor: pointer;
}
#edit{
    background-color: #048128;
}
#delete{
    background-color: rgb(220, 20, 20);
}
#edit:hover{
    opacity: 0.8;
}
#delete:hover{
    opacity: 0.8;
}
#icon{
    height: 40px;
    width: 40px;
}
#heading{
    font-size: 30px;
}
.card-close-Btn{
    left: 10px;
    border: none;
    padding: 0.5em 0.25em;
    cursor: pointer;
}

.check-regular{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.check-solid{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.add-note-input-field{
    border: none;
    border-radius: 9px;
    font-weight: 500;
    font-size: 15px;
    padding: 0.25em 0.5em;
}

/* Media queries */
/* Media screen of range between 465px - 600px (Eg: iPads,Tablets) */
@media (max-width:600px ) and (min-width:465px){
    .navbar{
        height: 40px;
        font-size: 2vw;
    }
    #icon{
        height: 25px;
        width: 25px;
    }
    .navbar #heading{
        font-size: 15px;
    }
    #newNote{
        font-size: 11px;
        padding: 0.2em 0.35em;
    }
    .add-note-input-field{
        font-size: 11px;
        padding: 0.25em 0.35em;
    }
    .card{
        height: 200px;
        width: 45%;
        margin-top: 15px;
        padding: 15px 0px 13px; 
    }
    .card h1{
        font-size: 15px;
    }
    .card h2{
        font-size: 15px;
        padding: 0.11em 1.5em;
    }
    .card input{
        font-size: 11px;
        padding: 0.35em 0.45em;
        margin: 1.5em 0.7em;      
    }
    #add{       
        font-size: 12px;
        padding: 0.4em 0.45em;
    }
    li{
        font-size: 15px;
    }
    li button{
       font-size: 14px;
        padding: 0.45em 0.55em;
    }
    #saveBtn{
        font-size: 10px;
        padding: 0.5em 0.5em;
        margin-left: 1em;
        
    }
}

/* Media screen < 465px (mobile screens) */
@media (max-width:465px){
    #icon{
        height: 22px;
        width: 22px;
    }
    .navbar #heading{
        font-size: 13px;
    }
    #newNote{
        font-size: 10px;
        padding: 0.25em 0.3em;
    }
    .add-note-input-field{
        font-size: 10px;
        padding: 0.2em 0.3em;
    }
    .card{
        height: 200px;
        width: 75%;
        margin-top: 15px;
        padding: 12px 0px 10px; 
    }
    .card h1{
        font-size: 14px;
    }
    .card h2{
        font-size: 14px;
        padding: 0.14em 1.7em;
    }
    .card input{
        font-size: 13px;
        padding: 0.35em 0.45em;
        margin: 1.5em 0.7em;      
    }
    #add{       
        font-size: 11px;
        padding: 0.4em 0.45em;
    }
    li{
        font-size: 14px;
    }
    li button{
        font-size: 13px;
         padding: 0.45em 0.55em;
     }
}
