*{
    margin: 0px;
    border:border-box;
}
/* Navbar stylings */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navbar #heading{
    font-size: 2rem;
}
.add-note-input-field{
    border: none;
    border-radius: 9px;
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0.15rem 0.35rem;
}
#newNote{
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.5rem 0.65rem;
    color: black;
    cursor: pointer;
}
#newNote:hover{
    opacity: 0.7;
}
/* Body stylings */
.container{
    background-color: #E8514A;
    margin: 0;
}
.notes-container{
    background-color: #E8514A;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    height: 200px;
    width: 30%;
    margin-top: 15px;
    /* padding: 20px 0px 15px; */
    padding: 1.25rem 0rem 1rem;
    border-radius: 7px;
    background-color: lightblue;
}
.card h1{
    text-align: center;
    text-decoration: underline wavy;
    font-size: 1.25rem;
    font-family: Bradley Hand, cursive;
    font-weight: 700;
    color: rgb(6, 6, 6);
}
.card h2{
    color: black;
    font-size: 1.1rem;
    padding: 0.12rem 2rem;
    text-decoration: double underline;
    font-family: Bradley Hand, cursive;
}
.card input{
    border-radius: 5px;
    border: none;
    font-size: 0.7rem;
    padding: 0.35rem 0.45rem;
    margin: 1.4rem 0.4rem;
    
}
.noteHead{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
#add{
    background-color: #23629F;
    border: none;
    border-radius: 5px;
    font-size: 0.85rem;
    padding: 0.25rem;
    color: white;
    cursor: pointer;
    box-shadow: 10px white;
}
#add:hover{
   opacity: 0.9;
}

#saveBtn{
    background-color: #b58a13;
    border: none;
    border-radius: 5px;
    font-size: 11px;
    padding: 0.5em 0.5em;
    margin-left: 0.8em;
    color: white;
    cursor: pointer;
}
#saveBtn:hover{
    opacity: 0.8;
}
.unlist{
    list-style: none;
   
}
li{
    font-size: 15px;
    font-family: Bradley Hand, cursive;
    padding: 0.25em 0.1em;
    width: 100%;
    font-weight: 700;
}
li button{
    border: none;
    border-radius:5px ;
    padding: 0.5em 0.65em;
    color: white;
    cursor: pointer;
}
#edit{
    background-color: #048128;
}
#delete{
    background-color: rgb(220, 20, 20);
}
#edit:hover{
    opacity: 0.8;
}
#delete:hover{
    opacity: 0.8;
}
#icon{
    height: 40px;
    width: 40px;
}
.card-close-Btn{
    left: 10px;
    border: none;
    padding: 0.5em 0.25em;
    cursor: pointer;
}

.check-regular{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.check-solid{
    height: 20px;
    width: 20px;
    cursor: pointer;
}


/* Media queries */
/* Media screen of range between 465px - 600px (Eg: iPads,Tablets) */
@media screen and (min-width:481px) and (max-width:768px ) {
    /* Navbar stylings */
    .navbar{
        height: 40px;
    }
    #icon{
        height: 25px;
        width: 25px;
    }
    .navbar #heading{
        font-size: 1.1rem;
    }
    #newNote{
        font-size: 0.8rem;
        padding: 0.2rem 0.35rem;
    }
    .add-note-input-field{
        font-size: 0.9rem;
        padding: 0.2rem 0.3rem;
    }
    /* Body stylings */
    .card{
        height: 200px;
        width: 45%;
        margin-top: 15px;
        padding: 1.2rem 0rem 0.9rem;
    }
    .card h1{
        font-size: 1.2rem;
    }
    .card h2{
        font-size: 1rem;
        padding: 0.11rem 1.5rem;
    }
    .card input{
        width: 19vw;
        font-size: 0.8rem;
        padding: 0.3rem 0.4rem;
        margin: 1.4rem 0.4rem;      
    }
    #add{       
        font-size: 0.7rem;
        padding: 0.4rem 0.45rem;
    }
    li{
        font-size: 15px;
    }
    li button{
       font-size: 14px;
        padding: 0.45em 0.55em;
    }
    #saveBtn{
        font-size: 10px;
        padding: 0.5em 0.5em;
        margin-left: 1em;
        
    }
}

/* Media screen < 465px (mobile screens) */
@media (max-width:480px){
    /* Navbar stylings */
    #icon{
        height: 22px;
        width: 22px;
    }
    .navbar{
        height: 30px;
    }
    .navbar #heading{
        font-size: 0.8rem;
    }
    #newNote{
        font-size: 0.5rem;
        padding: 0.13em 0.16em;
    }
    .add-note-input-field{
        font-size: 0.6rem;
        padding: 0.2rem 0.2rem;
    }
    /* body stylings */
    .card{
        height: 200px;
        width: 75%;
        margin-top: 15px;
        padding: 1.19rem 0rem 0.9rem;
    }
    .card h1{
        font-size: 1.1rem;
    }
    .card h2{
        font-size: 0.9rem;
        padding: 0.14rem 1.7rem;
    }
    .card input{
        width: 23vw;
        font-size: 0.7rem;
        padding: 0.3rem 0.4rem;
        margin: 1.5rem 0.7rem;      
    }
    #add{       
        font-size: 0.7rem;
        padding: 0.4rem 0.4rem;
    }
    li{
        font-size: 14px;
    }
    li button{
        font-size: 13px;
         padding: 0.45em 0.55em;
     }
}
